@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;0,800;0,900;1,200;1,400;1,600;1,800;1,900&display=swap');

:root {
	--coloruno: #222222;
	--colordos: #f0a83e;
	--colortres: #e5e5e5;
	--colorcuatro: #3c2313;
	--colorcinco: #ffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}

.nav .nav__header {
	background-color: var(--coloruno);
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 50px;
	align-items: center;
	font-size: 13px;
}

.nav__header .contenedor__subtitles {
	display: flex;
	gap: 20px;
}

.nav__header .contenedor__subtitles .content__idiomas {
	display: flex;
	align-items: center;
	gap: 2px;
}

.nav__header .contenedor__subtitles .content__pesos {
	display: flex;
	align-items: center;
	gap: 2px;
}

.nav__logo__categorias {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;
	background-color: var(--colordos);
	color: var(--colorcinco);
}

.logo__frontcatdog {
	display: flex;
	align-items: center;
}

.logo__frontcatdog p {
	color: #000;
	font-size: 25px;
	font-weight: 800;
}

.logo__frontcatdog span {
	color: var(--colorcinco);
}

.categorias__productos ul {
	display: flex;
	gap: 30px;
}

.categorias__productos ul li {
	font-size: 18px;
}
.menu__hamburguesa {
	display: none;
}
.menu__hamburguesa img {
	width: 24px;
}

.main {
	background-color: var(--colortres);
}

.contenedor__img {
	background-image: url('/img/Fondo.png');
	width: 100%;
	height: 50vh;
	background-repeat: no-repeat;
	background-position: center left;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: flex-end;
	padding: 0px 30px;
}

.section__contenedor {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section__contenedor .section__primerTitulo {
	background-color: var(--colortres);
	padding: 10px;
	border-radius: 5px;
	font-size: 18px;
	width: 350px;
	text-align: center;
	margin-bottom: 10px;
}

.button__section {
	background-color: var(--colordos);
	padding: 10px 13px;
	border-radius: 5px;
	margin-top: 10px;
}

.button__section a {
	color: var(--colorcinco);
	font-size: 18px;
	font-weight: 600;
}

.productos__title {
	padding: 50px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}

@media screen and (max-width: 1000px) {
	.categorias__productos {
		display: none;
	}

	.menu__hamburguesa {
		display: block;
	}
}

@media screen and (max-width: 722px) {
	.contenedor__img {
		justify-content: center;
		background-position: 0px;
	}
}

@media screen and (max-width: 500px) {
}

@media screen and (max-width: 400px) {
}
